* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.content{
  height:80vh;
}
.navbar{
background-color: rgb(115, 115, 147) !important;
}
 .register-page{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
 }

 /*transaction page */
 .filters{
  display:  flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 0 3px gray;
 }

 /* antd icons */

.switch-icons {
  border: 1px solid rgba(0, 0, 0, 0.677);
  border-radius: 5px;
  padding: 10px 15px;
}

anticon svg {
  font-size: 20px;
  cursor: pointer;
}

.active-icon {
  color: black;
}
.inactive-icon {
  color: gray;
}